@import url("../../common.css");

.container {
  width: 80%;
  border: 3px double #123456;
  color: #333;
  margin: 20px auto;
}

.container .main-title {
  font-size: 3em;
  font-weight: 700;
  font-family: "궁서체" cursive;
  text-align: center;
  background: #ccc;
  padding: 20px 0;
}

.container .sub-title {
  font-size: 1.2em;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}

.container .sub-title .yellow {
  font-size: 1.1em;
  color: #ff0;
}

.container .gallery {
  background: #6a6a6a;
  padding: 20px 0;
}

.container .gallery li {
  border: 1px solid #ccc;
  float: left;
  width: 23.75%; /* 4칸이 25%씩 나눠먹기 */
  height: 350px;
  margin-right: 1%;
  padding: 5px;
}

.container .gallery li:first-child {
  margin-left: 1%;
}

.container .gallery li .img-box {
  border: 1px solid #888;
  height: 45%;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container .gallery li .text {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.2;
  text-align: justify;
  padding: 0 10px;
}

#tulip {
  background-color: #d31515;
}
#tulip .img-box {
  background-image: url(../../../img/tulip.jpg);
}

#jebi {
  background-color: #e941f9;
}
#jebi .img-box {
  background-image: url(../../../img/jebi.jpg);
}
#hobak {
  background-color: #fe692b;
}
#hobak .img-box {
  background-image: url(../../../img/hobak.jpg);
}
#sunflower {
  background-color: #f3ea33;
}
#sunflower .img-box {
  background-image: url(../../../img/sunflower.jpg);
}
