* {
  box-sizing: border-box;
}
#container {
  width: 50%;
  margin: 50px auto;
  background: lightgray;
  padding: 10px;
  color: white;
}

div ul {
  display: inline-block;
}
div ul li {
  font-size: 1.5em;
  font-weight: bold;
  margin: 30px;
  text-shadow: 1px 1px 2px black;
}

div ul li:hover {
  background: skyblue;
  color: yellow;
}
